body {
  font-family: "Staatliches";
  font-size: 120%;
}

input[type="text"],
select {
  font-family: "Staatliches";
  font-size: 120%;
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="button"] {
  font-size: 120%;
  font-family: "Staatliches";
  width: 100%;
  background-color: #fbac00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #f59f00;
}

div {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1,
h4 {
  text-align: center;
}
